# Supabase Project Configuration
VITE_SUPABASE_URL=https://sxgjhivrclawaxqtphge.supabase.co
VITE_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN4Z2poaXZyY2xhd2F4cXRwaGdlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0MTA0NzMsImV4cCI6MjA5NTk4NjQ3M30.rd08pRa9ejcXEpthch1Zqf29HQqXeKbOnxFY_HVKxxs
